@import "../index.scss";
 #requirements {
     padding: 134px 0 134px;
     background: url(../imgs/bg-2.jpg) no-repeat center top/cover;
     color:$mainWhite;
     h2{
         width: 100%;
    }
     p{
         margin-bottom: 13px;
    }
     img{
         padding-top: 47px;
         padding-left: 23px;
    }
}
 .requirements__info {
     padding-top: 30px;
}
 